In [1]:
import pandas as pd

In [2]:
import datetime as dt

# Import Towing Data

In [3]:
#Import 2016 towing data 
tow_data_2016 = pd.read_csv("/Users/eramos/Documents/data_stories/tows/data/ticket_data/final_working_data_to_be_posted_for_story/edited_tows_concatenated.csv")

In [4]:
#Check import
tow_data_2016.head()

,Column,Service Request No,original_address_field,st_num,st_dir,st_name,Location,Created Date,Status Date,Status,Vehicle Make/Model,License Plate Number,Pound assigned inventory number,City X Coordinate,City Y Coordinate,Vehicle Body Style,impound_date,date,X Coordinate,Y Coordinate
0,0.0,16-00055456,176 W WASHINGTON ST,176.0,W,WASHINGTON ST,176 W WASHINGTON ST,1/4/2016 0:00,2/19/2016 0:00,Completed,Honda,2501550,940372.0,1174909.232,1900809.187,Sedan 2 Door,1/2/2016,1/2/2016,-87.633178,41.883209
1,1.0,16-01223620,155 W HUBBARD ST,155.0,W,HUBBARD ST,155 W HUBBARD ST,2/29/2016 0:00,4/7/2016 0:00,Completed,Bmw,TOLDUTO,942727.0,1174958.318,1903283.649,Sedan 2 Door,2/27/2016,2/27/2016,-87.632924,41.889998
2,2.0,16-01515133,721 S CLARK ST,721.0,S,CLARK ST,721 S CLARK ST,3/9/2016 0:00,4/7/2016 0:00,Completed,Honda,Z791085,943221.0,1175631.640,1897141.290,Sedan 4 Door,3/8/2016,3/8/2016,-87.630636,41.873128
3,3.0,16-01906375,411 N STATE ST,411.0,N,STATE ST,411 N STATE ST,3/21/2016 0:00,4/7/2016 0:00,Completed,Toyota,Q115706,943771.0,1176295.418,1903135.208,Sedan 4 Door,3/18/2016,3/18/2016,-87.628018,41.889561
4,4.0,16-01981401,61 E SCHILLER ST,61.0,E,SCHILLER ST,61 E SCHILLER ST,3/24/2016 0:00,4/7/2016 0:00,Completed,Nissan,S417492,944111.0,1176575.460,1909795.099,Sedan 4 Door,3/23/2016,3/23/2016,-87.626788,41.907830

In [6]:
#Transform impound date into datetime
tow_data_2016['date'] = pd.to_datetime(tow_data_2016['impound_date'], unit="s")

In [7]:
#Check data types of columns
tow_data_2016.dtypes

Column                                    float64
Service Request No                         object
original_address_field                     object
st_num                                    float64
st_dir                                     object
st_name                                    object
Location                                   object
Created Date                               object
Status Date                                object
Status                                     object
Vehicle Make/Model                         object
License Plate Number                       object
Pound assigned inventory number           float64
City X Coordinate                         float64
City Y Coordinate                         float64
Vehicle Body Style                         object
impound_date                               object
date                               datetime64[ns]
X Coordinate                              float64
Y Coordinate                              float64
dtype: object

# Import Ticket Data

In [8]:
ticket_data_2016 = pd.read_csv("/Users/eramos/Documents/data_stories/tows/data/foia_data_sets/A50611_2016_20170112.txt", sep='$')

In [9]:
#Transform violation codes into a string
ticket_data_2016['Violation Code'] = ticket_data_2016['Violation Code'].astype(str)

In [10]:
#Takes ovenight snow route violation code
ticket_data_2016["overnight"] = ticket_data_2016['Violation Code'].isin(['0964060'])

In [11]:
#Transform violation codes into a string
ticket_data_2016['License Plate Number'] = ticket_data_2016['License Plate Number'].astype(str)

In [12]:
overnight_ticket_data_2016 = ticket_data_2016[(ticket_data_2016['overnight'] == True)]

In [13]:
#Check if dataframe is correctly importing only overnight parking ban tickets
overnight_ticket_data_2016[:5]

,Issue Date,Violation Location,License Plate Number,License Plate State,License Plate Type,Violation Code,Violation Description,Unit,Vehicle Make,Fine Level 1 Amount,overnight
8801,1/4/2016 3:18:00 AM,69 E 22ND ST,A911388,IL,PAS,0964060,3-7 AM SNOW ROUTE,1,TOYT,60,True
8807,1/2/2016 3:12:00 AM,1940 W FOSTER,3329424,IL,PAS,0964060,3-7 AM SNOW ROUTE,20,FORD,60,True
8808,1/2/2016 3:13:00 AM,2010 W FOSTER,217GGY,WI,PAS,0964060,3-7 AM SNOW ROUTE,20,VOLK,60,True
8809,1/2/2016 3:17:00 AM,2310 W FOSTER,H929211,IL,PAS,0964060,3-7 AM SNOW ROUTE,20,TOYT,60,True
8856,1/2/2016 3:40:00 AM,1349 S STATE ST,AKM883,MI,PAS,0964060,3-7 AM SNOW ROUTE,1,CHEV,60,True

# Import of second FOIA set from Dept of Finance - includes findings, fine levels

In [14]:
finance_ticket_data_2016 = pd.read_csv("/Users/eramos/Documents/data_stories/tows/data/ticket_data/final_working_data_to_be_posted_for_story/for_real_reals/finance_overnight_tickets_2016-final.csv")

In [15]:
finance_ticket_data_2016[:2]

,X,Y,iss_dt_tim,st_num,st_dir,st_nm,st_name_edit,address,lcns_plt_n,lcns_plt_s,viol_cd,viol_desc,rpt_dstrct,vhcl_make,fine_lvl,tckt_que,year,on_route
0,-87.67453,42.00982,1/3/2016 3:19,7028,N,CLARK,CLARK ST,7028 N CLARK,DL5058D,IL,964060,3-7 AM SNOW ROUTE,24,FORD,120,Paid,2016,True
1,-87.67381,41.97636,12/1/2016 3:12,1742,W,FOSTER,FOSTER AVE,1742 W FOSTER,X351342,IL,964060,3-7 AM SNOW ROUTE,20,KIA,60,Paid,2016,True

In [17]:
finance_ticket_data_2016['datetime'] = pd.to_datetime(finance_ticket_data_2016['iss_dt_tim'], unit="s")

In [18]:
#Turn overnight tickets into normal date
finance_ticket_data_2016['date'] = pd.DatetimeIndex(finance_ticket_data_2016.datetime).normalize()

In [19]:
finance_ticket_data_2016.rename(columns={'lcns_plt_n':'License Plate Number'}, inplace=True)

In [20]:
finance_ticket_data_2016.dtypes

X                              float64
Y                              float64
iss_dt_tim                      object
st_num                           int64
st_dir                          object
st_nm                           object
st_name_edit                    object
address                         object
License Plate Number            object
lcns_plt_s                      object
viol_cd                          int64
viol_desc                       object
rpt_dstrct                       int64
vhcl_make                       object
fine_lvl                         int64
tckt_que                        object
year                             int64
on_route                          bool
datetime                datetime64[ns]
date                    datetime64[ns]
dtype: object

In [21]:
#Transform violation codes into a string
finance_ticket_data_2016['License Plate Number'] = finance_ticket_data_2016['License Plate Number'].astype(str)

# DATA SMASH - Joining Ticket and Tow Data

In [22]:
#Test of all tickets join
finance_and_tow_left_join_2016 = pd.merge(tow_data_2016, finance_ticket_data_2016, how='left', on=['date', 'License Plate Number'])

In [23]:
finance_and_tow_left_join_2016[:5]

,Column,Service Request No,original_address_field,st_num_x,st_dir_x,st_name,Location,Created Date,Status Date,Status,...,lcns_plt_s,viol_cd,viol_desc,rpt_dstrct,vhcl_make,fine_lvl,tckt_que,year,on_route,datetime
0,0.0,16-00055456,176 W WASHINGTON ST,176.0,W,WASHINGTON ST,176 W WASHINGTON ST,1/4/2016 0:00,2/19/2016 0:00,Completed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
1,1.0,16-01223620,155 W HUBBARD ST,155.0,W,HUBBARD ST,155 W HUBBARD ST,2/29/2016 0:00,4/7/2016 0:00,Completed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
2,2.0,16-01515133,721 S CLARK ST,721.0,S,CLARK ST,721 S CLARK ST,3/9/2016 0:00,4/7/2016 0:00,Completed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
3,3.0,16-01906375,411 N STATE ST,411.0,N,STATE ST,411 N STATE ST,3/21/2016 0:00,4/7/2016 0:00,Completed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4,4.0,16-01981401,61 E SCHILLER ST,61.0,E,SCHILLER ST,61 E SCHILLER ST,3/24/2016 0:00,4/7/2016 0:00,Completed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT

In [24]:
#Test export of all tickets
finance_and_tow_left_join_2016.to_csv('/Users/eramos/Documents/data_stories/tows/data/ticket_data/final_working_data_to_be_posted_for_story/for_real_reals/final_ticket_and_tow_left_join_2016.csv')

In [25]:
#Test of all tickets join
finance_and_tow_right_join_2016 = pd.merge(tow_data_2016, finance_ticket_data_2016, how='right', on=['date', 'License Plate Number'])

In [26]:
finance_and_tow_right_join_2016[:5]

,Column,Service Request No,original_address_field,st_num_x,st_dir_x,st_name,Location,Created Date,Status Date,Status,...,lcns_plt_s,viol_cd,viol_desc,rpt_dstrct,vhcl_make,fine_lvl,tckt_que,year,on_route,datetime
0,12.0,16-00052728,543 W MADISON ST,543.0,W,MADISON ST,543 W MADISON ST,1/4/2016 0:00,1/7/2016 0:00,Completed,...,IL,964060,3-7 AM SNOW ROUTE,1,FORD,60,Paid,2016,True,2016-01-01 03:33:00
1,24.0,16-00070405,5215 S ARCHER AVE,5215.0,S,ARCHER AVE,5215 S ARCHER AVE,1/5/2016 0:00,1/7/2016 0:00,Completed,...,IL,964060,3-7 AM SNOW ROUTE,8,MITS,120,Notice,2016,True,2016-01-02 03:21:00
2,28.0,16-00070409,1439 S STATE ST,1439.0,S,STATE ST,1439 S STATE ST,1/5/2016 0:00,1/7/2016 0:00,Completed,...,IL,964060,3-7 AM SNOW ROUTE,1,NISS,60,Paid,2016,True,2016-01-02 04:04:00
3,29.0,16-00070410,1441 S STATE ST,1441.0,S,STATE ST,1441 S STATE ST,1/5/2016 0:00,1/7/2016 0:00,Completed,...,MO,964060,3-7 AM SNOW ROUTE,1,CHEV,60,Paid,2016,True,2016-01-02 04:02:00
4,36.0,16-00070419,601 W MADISON ST,601.0,W,MADISON ST,601 W MADISON ST,1/5/2016 0:00,1/7/2016 0:00,Completed,...,MI,964060,3-7 AM SNOW ROUTE,1,FORD,120,Paid,2016,True,2016-01-02 03:24:00

In [27]:
#Test export of all tickets
finance_and_tow_right_join_2016.to_csv('/Users/eramos/Documents/data_stories/tows/data/ticket_data/final_working_data_to_be_posted_for_story/for_real_reals/final_finance_and_tow_right_join_2016.csv')